.page-loading {
    background: #fff;
}
.loading {
    position: absolute;
    text-align: center;
    top: 8.75rem;
    width: 100%;
}
.loading span {
    margin-top: .85rem;
    display: block;
    font-size: .7rem;
    color: #ccc;
}
.loading .spinner {
    display: inline-block;
    background-size: cover;
    height: 2.2rem;
    width: 2.2rem;
    background-image: url(../../image/loading.png);
}
.loading.animate .spinner {
    animation-name: spinner;
    animation-iteration-count: infinite;
    -webkit-animation-name: spinner;
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
@keyframes spinner {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}